<div class="row" style="margin-top: 30px;">
	<div class="col-md-offset-4 col-md-4 col-sm-6 col-sm-offset-3 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h3>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="userEmail">Email address</label>
						<input type="email" class="form-control" id="userEmail" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="userPassword">Password</label>
						<input type="password" class="form-control" id="userPassword" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-primary pull-right" ng-click="vm.login()">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>